BOOKINGS_API=someSecretKey
APP_ENV=development
HTTP_SECURE=false
DOMAIN=localhost
PORT=8080
BOOKINGS_CLIENT_ID=clientId
BOOKINGS_CLIENT_SECRET=clientSecret
BOOKINGS_TENANT_ID=tenantId
BOOKINGS_BUSINESS_ID=businessId
BOOKINGS_AUTH_URL=authorityUrl