<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.PageTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
<body>
<div class="container">
    <h1 class="title">Welcome to Phoenix Spark!</h1>
    {{if .ActiveBooking}}
    <div class="active-booking current-booking">
        <h3 class="active-booking-title">{{.ActiveBooking.Customer.Name}}</h3>
        <p class="active-booking-date date">{{.ActiveBooking.Start.DateTime.Local.Format "Jan 2, 2006"}}</p>
        <p class="active-booking-time time">{{.ActiveBooking.Start.DateTime.Local.Format "3:04 PM"}} - {{.ActiveBooking.End.DateTime.Local.Format "3:04 PM"}}</p>
        <p class="active-booking-email details">{{.ActiveBooking.Customer.EmailAddress}}</p>
        <p class="active-booking-phone details">{{.ActiveBooking.Customer.Phone}}</p>
    </div>
        {{else}}
        <div class="active-booking next-booking">
            <h3 class="active-booking-title">No active booking</h3>
            <p>Go to https://www.travisspark.com to book our conference room or find a member downstairs.</p>
        </div>
    {{end}}
    <h2 class="title">Upcoming Events</h2>
    <ul class="upcoming-events">
        {{range .UpcomingAppointments}}
            <li>
                <div>
                    <h3>{{.Customer.Name}}</h3>
                    <div class="date-time">
                        <p class="date">{{.Start.DateTime.Local.Format "Jan 2, 2006"}}</p>
                        <p class="time">{{.Start.DateTime.Local.Format "3:04 PM"}} - {{.End.DateTime.Local.Format "3:04 PM"}}</p>
                    </div>
                    <p class="details">{{.Customer.EmailAddress}}</p>
                    <p class="details">{{.Customer.Phone}}</p>
                </div>
            </li>
        {{end}}
    </ul>
</div>
</body>
</html>